{% extends 'base.html' %}

{% block head %}
<script>
  // Script to validate the file extension of the file.
  function validateFileExtension(el, extensions) {
      var regex = /(?<=\.)[0-9a-z]+$/i;
      var extension = el.value.toLowerCase().match(regex)[0];
      if (!(extensions.includes(extension))) {
          el.value = '';
          alert('Please select a valid file.');
      }
  }
</script>
{% endblock %}

{% block content %}
<div>
    <div>
        <div>
			<h2>AIDL - Image Enhancing Project - Retinex</h3>
			<h3>Please, upload a low light image:</h3>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data" class="text-center">
      {{ form.csrf_token }}
      <div>
        {{ form.image(onchange='validateFileExtension(this, ["jpg","png","bmp"])') }}
        {{ form.submit }}
      </div>
    </form>
	<br>
    
	<div class="flex-container">
		{% if filename %}
		<div>
			<p>Low Light Image</p>
		<img src="{{ url_for('display_image', filename=filename) }}" width="297">
		</div>
		{% endif %}

		{% if img_enh %}
		<div>
			<p>Enhanced Image</p>
			<img src="{{ url_for('display_image', filename=img_enh) }}" width="297">
		</div>
		{% endif %}

		{% if img_enh_convtrans %}
		<div>
			<p>Enhanced Image (ConvTransp)</p>
			<img src="{{ url_for('display_image', filename=img_enh_convtrans) }}" width="297">
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}